@import "./vendors/bootstrap.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./page/page.scss";
@import "./page/notfound.scss";
@import "./page/profile.scss";
@import "./page/home.scss";
@import "./components/loginForm.scss";
@import "./components/error.scss";
@import "./components/table.scss";
@import "./components/pagination.scss";

@font-face {
  font-family: poppins;
  src: url("../font/Poppins-Regular.ttf");
}

body {
  font-family: poppins;
  overflow-x: hidden !important;
}
