@import "./vendors/bootstrap.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./page/page.scss";

@font-face {
  font-family: poppins;
  src: url("../font/Poppins-Regular.ttf");
}

body {
  font-family: poppins;
  overflow-x: hidden !important;
}
